nav {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  padding: var(--small);
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background);
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.nav__logo,
.nav__user {
  display: flex;
  gap: var(--small);
  align-items: center;
  justify-content: center;
}

.nav__user:hover {
  background-color: var(--secondary-nav-bg);
  cursor: not-allowed;
}

.nav__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--button-primary);
}

.nav__icon {
  width: 48px;
  height: 48px;
}

.nav__search {
  display: flex;
  gap: var(--small);
  grid-column: 2;
  max-width: 400px;
  margin: 0 var(--large);
}

.nav__search-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--text-strong);
  border-radius: 50px;
  background-color: var(--secondary-nav-bg);
}

.nav__user {
  border: 1px solid var(--border);
  width: 100%;
  gap: var(--xsmall);
  border-radius: var(--xsmall);
  color: var(--button-primary);
  padding: var(--xsmall);
  justify-self: end;
}

.nav__icon--user {
  width: 22px;
  height: 22px;
}
