.tabs {
  display: flex;
  gap: 8px;
  border-top: 1px solid var(--border);
  padding: var(--small) 0;
}

.tab {
  padding: var(--small) var(--medium);
  border-radius: var(--xsmall);
  cursor: pointer;
  transition: all 0.2s;
}

.tab:hover,
.tab--active {
  background-color: var(--secondary-background);
}
