.tabs {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.tab {
  padding: var(--small) var(--medium);
  border-top-left-radius: var(--xsmall);
  border-top-right-radius: var(--xsmall);
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.tab:hover,
.tab--active {
  background-color: var(--secondary-background);
}
