:root {
  /* Colors */
  --primary-background: #ffffff;
  --secondary-background: #f5f7fa;

  --secondary-nav-bg: #f8f9fa;

  --border: #dcdcdc;

  --button-primary: #0056b3;
  --button-primary-hover: #004494;
  
  
  --button-secondary: #ff735e;
  --button-secondary-hover: #f48b7b;

  --button-edit: #ffffff;
  --button-edit-hover: #efeded;

  --button-delete: #dc3545;
  --button-delete-hover: #c82333;


  --text-primary: #ffffff;
  --text-secondary: #000000;
  --text-strong: #5f5f5f;

  /* Fonts */
  --font-roboto: "Roboto", sans-serif;

  /* Sizes */
  --xsmall: 0.5rem;
  --small: 1rem;
  --medium: 2rem;
  --large: 3rem;
  --xlarge: 4rem;
}
